body{
    background-color: darkslategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: bisque;
}

.team_name{
    font-size: 12px;
}

.goal input{
    height: 50px;
    font-size: 16px;
}